
{% extends 'base/main.html' %}
{% block content %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- jquery 3.4.1-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<style>
.container {
    font-size: 24px;
    width: 50%;
    margin: auto;
    background-color: #fff;
}

#div2{
    text-align: center;
}

.horizontal-list {
    list-style: none;
}

#myProgress {
    position: relative;
    width: 25%;
    height: 30px;
    background-color: #ddd;
    }

#myBar {
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: #4CAF50;
    }

#label {
    text-align: center;
    line-height: 30px;
    color: white;
    }

li{
    display: inline;
    color: #9A9A9A;
    text-align: left;

}
</style>


<body>

<div id="div2" >
        <!-- ustawaianie dnia  -->
        <form  method="GET" >
                <button type="submit" name="ustaw-dzien" value="1">Wczoraj</button>
                <button type="submit" name="ustaw-dzien" value="0">Dziś</button>
                <button type="submit" name="ustaw-dzien" value="-1">Jutro</button>
        </form>
        </div>


 <!-- tabela produktów  -->
<div class="container">
<div>
<div class="expand" style="background-color:#FDFDFD;">

    <a class="fas fa-ellipsis-v" href="" style="text-decoration: none;padding: 15px;"></a>
    <a class="fas fa-plus-circle fa-1x" href="{% url 'dodaj' %}" style="text-decoration: none;"></a>
    <a style="padding: 15px;">Śniadanie</a><br>

</div>

            {% if object_list %}
            {% for c in object_list %}
            {% if c.category == 'S' %}

        <ul class="horizontal-list" style="background-color:#EEEEEE;">
            <li> {{ c.name}}
            <ul>
                <li> {{ c.total_calories}}kcal</li>
                <li> {{ c.fat}} g </li>
                <li> {{ c.protein}} g  </li>
                <li> {{ c.carbs}} g </li>
            </ul>
            </li>
        </ul>

{% endif %}
{% endfor %}
{% endif %}
</div>


<div>
<div class="expand" style="background-color:#FDFDFD;">

    <a class="fas fa-ellipsis-v" href="" style="text-decoration: none;padding: 15px;"></a>
    <a class="fas fa-plus-circle fa-1x" href="{% url 'dodaj' %}" style="text-decoration: none;"></a>
    <a style="padding: 15px;">Drugie Śniadanie</a><br>

</div>
            {% if object_list %}
            {% for c in object_list %}
            {% if c.category == 'S_II' %}
        <ul class="horizontal-list" style="background-color:#EEEEEE;">
            <li> {{ c.name}}
            <ul>
                <li> {{ c.total_calories}}kcal</li>
                <li> {{ c.fat}} g </li>
                <li> {{ c.protein}} g  </li>
                <li> {{ c.carbs}} g </li>
            </ul>
            </li>
        </ul>

{% endif %}
{% endfor %}
{% endif %}

</div>

<div>
<div class="expand" style="background-color:#FDFDFD;">

    <a class="fas fa-ellipsis-v" href="" style="text-decoration: none;padding: 15px;"></a>
    <a class="fas fa-plus-circle fa-1x" href="{% url 'dodaj' %}" style="text-decoration: none;"></a>
    <a style="padding: 15px;">Obiad</a>
</div>

            {% if object_list %}
            {% for c in object_list %}
            {% if c.category == 'O' %}
        <ul class="horizontal-list" style="background-color:#EEEEEE;">
            <li> {{ c.name}}
            <ul>
                <li> {{ c.total_calories}}kcal</li>
                <li> {{ c.fat}} g </li>
                <li> {{ c.protein}} g  </li>
                <li> {{ c.carbs}} g </li>
            </ul>
            </li>
        </ul>

{% endif %}
{% endfor %}
{% endif %}

</div>

<div>
<div class="expand" style="background-color:#FDFDFD;">

    <a class="fas fa-ellipsis-v" href="" style="text-decoration: none;padding: 15px;"></a>
    <a class="fas fa-plus-circle fa-1x" href="{% url 'dodaj' %}" style="text-decoration: none;"></a>
    <a style="padding: 15px;">Lunch</a>
</div>

            {% if object_list %}
            {% for c in object_list %}
            {% if c.category == 'L' %}
        <ul class="horizontal-list" style="background-color:#EEEEEE;">
            <li> {{ c.name}}
            <ul>
                <li> {{ c.total_calories}}kcal</li>
                <li> {{ c.fat}} g </li>
                <li> {{ c.protein}} g  </li>
                <li> {{ c.carbs}} g </li>
            </ul>
            </li>
        </ul>

{% endif %}
{% endfor %}
{% endif %}

</div>

<div>
<div class="expand" style="background-color:#FDFDFD;">

    <a class="fas fa-ellipsis-v" href="" style="text-decoration: none;padding: 15px;"></a>
    <a class="fas fa-plus-circle fa-1x" href="{% url 'dodaj' %}" style="text-decoration: none;"></a>
    <a style="padding: 15px;">Kolacja</a>
</div>

            {% if object_list %}
            {% for c in object_list %}
            {% if c.category == 'K' %}
        <ul class="horizontal-list" style="background-color:#EEEEEE;">
            <li> {{ c.name}}
            <ul>
                <li> {{ c.total_calories}}kcal</li>
                <li> {{ c.fat}} g </li>
                <li> {{ c.protein}} g  </li>
                <li> {{ c.carbs}} g </li>
            </ul>
            </li>
        </ul>

{% endif %}
{% endfor %}
{% endif %}
</div>

<div>
<div class="expand" style="background-color:#FDFDFD;">

    <a class="fas fa-ellipsis-v" href="" style="text-decoration: none;padding: 15px;"></a>
    <a class="fas fa-plus-circle fa-1x" href="{% url 'dodaj' %}" style="text-decoration: none;"></a>
    <a style="padding: 15px;">Przekąska</a>
</div>

            {% if object_list %}
            {% for c in object_list %}
            {% if c.category == 'P' %}
        <ul class="horizontal-list" style="background-color:#EEEEEE;">
            <li> {{ c.name}}
            <ul>
                <li> {{ c.total_calories}}kcal</li>
                <li> {{ c.fat}} g </li>
                <li> {{ c.protein}} g  </li>
                <li> {{ c.carbs}} g </li>
            </ul>
            </li>
        </ul>

{% endif %}
{% endfor %}
{% endif %}
    </div>
</div>



<div class="container" style="text-align: center;">
    <span id="todays_total_kcal" class="target"></span>kcal      <b></b>
    <span id="todays_total_fat" class="target"></span>g(fat)    <b></b>
    <span id="todays_total_protei" class="target"></span>g(protein)<b></b>
    <span id="todays_total_carbs" class="target"></span>g(carbs)  <b></b>
</div>

<!--- WARTOSC USTAWIONA PRZEZ UZYTOWNIKA ILE MOZE ZJESC KALORI--->
<li id="q10" value="2500"></li>

<div id="myProgress">
  <div id="myBar">%</div>
</div>



<!-- Latest compiled and minified JavaScript -->

<script class="progress_bar">
function getInputValue(selector) {
	var str = $(selector).val();
  return parseInt(str, 10);
}

function updateProgress() {

  var total = getInputValue('#q10');
  var current = document.getElementById("todays_total_kcal").innerText;
  var progress = (current / total) * 100;

  //progress = progress.toFixed(2); //if you want to limit number of digits after decimal point

  $("#myBar").css("width", progress + "%");
  $("#label").text(progress + "%");
}

$(function() {
	$(".postbtn").click(updateProgress);
  updateProgress();//if you want to render outside of click handler, for example after page load.
});
</script>

<script class="expand_data">
$(document).ready(function () {
    $('.expand').nextUntil('div.expand').hide();
    $('.expand').click(function () {
        $(this).nextUntil('div.expand').slideToggle(100, function () {});
    });
});
</script>

<script class="sum_data">
const targets = $('.target');
const sums = [...targets].map(_ => 0);
$('li li').each(function() {
  const i = $(this).index();
  sums[i] += Number(this.textContent.match(/\d+/)[0]);
});
sums.forEach((sum, i) => {
  targets[i].textContent = sum;
});
</script>

</body>
{% endblock %}



