
{% extends 'base/main.html' %}
{% block content %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- jquery 3.4.1-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<style>
.TEST {
    width: auto;
    min-height: 600px;
    background-color: red;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
.container {
    font-size: 24px;
    width: 50%;
    min-height: 100px;
    margin: auto;
    background-color: #fff;
}

#div2{
    text-align: center;
}

.horizontal-list {
    list-style: none;
}

.myProgress {
    position: relative;
    height: 10px;
    background-color: #ddd;
    text-align: center;
    }

.myBar_kcal {
    width: 10%;
    height: 100%;
    background-color: #80ff80;
    }

.myBar_fat {
    width: 10%;
    height: 100%;
    background-color: #99d6ff;
    }
.myBar_protein{
    width: 10%;
    height: 100%;
    background-color: #ff4d4d;
    }

.myBar_carbs{
    width: 10%;
    height: 100%;
    background-color: #d9b3ff;
    }
#label {
    text-align: center;
    line-height: 30px;
    color: white;
    }

li{
    display: inline;
    color: #9A9A9A;
    text-align: left;

}

.four {

    padding: 5px;
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    width: 25%;
    margin: auto;
    background-color: #fff;
}

.target{
    font-weight: bold;
}

.btn{
    width: calc(100% / 3);
    padding: 0;
    border: none;
    background: white;
    border: 1px solid black;
}
.btn:hover {background-color: #e7e7e7;}

.expand{
width: 100% ;
}

</style>




<div id="div2" >

        <!-- ustawaianie dnia  -->
<form  method="GET" >

<div class="btn-group" style="width:50%;">
  <button class="btn" name="ustaw-dzien" value="1" type="submit">Wczoraj<br></button>
  <button class="btn" name="ustaw-dzien" value="0" type="submit" style="width: calc(100% / 3);">Dzisiaj<br> {% now "l" %}</button>
  <button class="btn" name="ustaw-dzien" value="-1" type="submit" style="width: calc(100% / 3);">Jutro<br></button>
</div>
</form>
        </div>



 <!-- tabela produktów  -->
<div class="container">
<div>
<div class="expand" style="background-color:#FDFDFD;">

    <a class="fas fa-plus-circle fa-1x" href="{% url 'dodaj' %}" style="color:black"></a>
    <a style="padding: 15px;">Śniadanie</a><br>

</div>

            {% if object_list %}
            {% for c in object_list %}
            {% if c.category == 'S' %}

        <ul class="horizontal-list" style="background-color:#EEEEEE;">
            <li>
                 <a class="fas fa-ellipsis-v" href="{% url 'produkty-edit' c.id %}" style="color:black;padding: 15px;"></a>
                 <a class="fas fa-times" style="color:black" href="{% url 'produkty-delete' c.id %}"></a>
                {{ c.name}}
            <ul>
                <li> {{ c.total_calories}}kcal</li>
                <li> {{ c.fat}} g </li>
                <li> {{ c.protein}} g  </li>
                <li> {{ c.carbs}} g </li>
            </ul>
            </li>
        </ul>

{% endif %}
{% endfor %}
{% endif %}
</div>


<div>
<div class="expand" style="background-color:#FDFDFD;">

    <a class="fas fa-plus-circle fa-1x" href="{% url 'dodaj' %}" style="color:black"></a>
    <a style="padding: 15px;">Drugie Śniadanie</a><br>

</div>
            {% if object_list %}
            {% for c in object_list %}
            {% if c.category == 'S_II' %}
        <ul class="horizontal-list" style="background-color:#EEEEEE;">
            <li>
                 <a class="fas fa-ellipsis-v" href="{% url 'produkty-edit' c.id %}" style="color:black;padding: 15px;"></a>
                 <a class="fas fa-times" style="color:black" href="{% url 'produkty-delete' c.id %}"></a>
                {{ c.name}}
            <ul>
                <li> {{ c.total_calories}}kcal</li>
                <li> {{ c.fat}} g </li>
                <li> {{ c.protein}} g  </li>
                <li> {{ c.carbs}} g </li>
            </ul>
            </li>
        </ul>

{% endif %}
{% endfor %}
{% endif %}

</div>

<div>
<div class="expand" style="background-color:#FDFDFD;">

    <a class="fas fa-plus-circle fa-1x" href="{% url 'dodaj' %}" style="color:black"></a>
    <a style="padding: 15px;">Obiad</a>
</div>

            {% if object_list %}
            {% for c in object_list %}
            {% if c.category == 'O' %}
        <ul class="horizontal-list" style="background-color:#EEEEEE;">
            <li>
                 <a class="fas fa-ellipsis-v" href="{% url 'produkty-edit' c.id %}" style="color:black;padding: 15px;"></a>
                 <a class="fas fa-times" style="color:black" href="{% url 'produkty-delete' c.id %}"></a>
                {{ c.name}}
            <ul>
                <li> {{ c.total_calories}}kcal</li>
                <li> {{ c.fat}} g </li>
                <li> {{ c.protein}} g  </li>
                <li> {{ c.carbs}} g </li>
            </ul>
            </li>
        </ul>

{% endif %}
{% endfor %}
{% endif %}

</div>

<div>
<div class="expand" style="background-color:#FDFDFD;">

    <a class="fas fa-plus-circle fa-1x" href="{% url 'dodaj' %}" style="color:black"></a>
    <a style="padding: 15px;">Lunch</a>
</div>

            {% if object_list %}
            {% for c in object_list %}
            {% if c.category == 'L' %}
        <ul class="horizontal-list" style="background-color:#EEEEEE;">
            <li>
                 <a class="fas fa-ellipsis-v" href="{% url 'produkty-edit' c.id %}" style="color:black;padding: 15px;"></a>
                 <a class="fas fa-times" style="color:black" href="{% url 'produkty-delete' c.id %}"></a>                {{ c.name}}
            <ul>
                <li> {{ c.total_calories}}kcal</li>
                <li> {{ c.fat}} g </li>
                <li> {{ c.protein}} g  </li>
                <li> {{ c.carbs}} g </li>
            </ul>
            </li>
        </ul>

{% endif %}
{% endfor %}
{% endif %}

</div>

<div>
<div class="expand" style="background-color:#FDFDFD;">

    <a class="fas fa-plus-circle fa-1x" href="{% url 'dodaj' %}" style="color:black"></a>
    <a style="padding: 15px;">Kolacja</a>
</div>

            {% if object_list %}
            {% for c in object_list %}
            {% if c.category == 'K' %}
        <ul class="horizontal-list" style="background-color:#EEEEEE;">
            <li>
                 <a class="fas fa-ellipsis-v" href="{% url 'produkty-edit' c.id %}" style="color:black;padding: 15px;"></a>
                 <a class="fas fa-times" style="color:black" href="{% url 'produkty-delete' c.id %}"></a>
                {{ c.name}}
            <ul>
                <li> {{ c.total_calories}}kcal</li>
                <li> {{ c.fat}} g </li>
                <li> {{ c.protein}} g  </li>
                <li> {{ c.carbs}} g </li>
            </ul>
            </li>
        </ul>

{% endif %}
{% endfor %}
{% endif %}
</div>

<div>
<div class="expand" style="background-color:#FDFDFD;">

    <a class="fas fa-plus-circle fa-1x" href="{% url 'dodaj' %}" style="color:black"></a>
    <a style="padding: 15px;">Przekąska</a>
</div>

            {% if object_list %}
            {% for c in object_list %}
            {% if c.category == 'P' %}
        <ul class="horizontal-list" style="background-color:#EEEEEE;">
            <li>
                 <a class="fas fa-ellipsis-v" href="{% url 'produkty-edit' c.id %}" style="color:black;padding: 15px;"></a>
                 <a class="fas fa-times" style="color:black" href="{% url 'produkty-delete' c.id %}"></a>
                {{ c.name}}
            <ul>
                <li> {{ c.total_calories}}kcal</li>
                <li> {{ c.fat}} g </li>
                <li> {{ c.protein}} g  </li>
                <li> {{ c.carbs}} g </li>
            </ul>
            </li>
        </ul>

{% endif %}
{% endfor %}
{% endif %}
    </div>
</div>

<!--- WARTOSC USTAWIONA PRZEZ UZYTOWNIKA ILE MOZE ZJESC KALORI--->
<li id="user_kcal" value="{{ user.profile.goal_total_calories }}"></li>
<li id="user_fat" value="{{ user.profile.goal_fat }}"></li>
<li id="user_protein" value="{{ user.profile.goal_protein }}"></li>
<li id="user_carbs" value="{{ user.profile.goal_carbs }}"></li>
<!---------------------------------------------------------------->


<!--- PROGRESS BARY--->
<div class="container">
    <div class="four">
    <div class="myProgress">
            <div class="myBar_kcal"></div>
                <a>Kalorie</a>
                <a><span id="todays_total_kcal" class="target"></span><b></b></a> <br>
                <a>{{ user.profile.goal_total_calories }} kcal</a>
            </div>
    </div><div class="four">
    <div class="myProgress">
            <div class="myBar_fat"></div>
                <a>Białka</a>
                <a><span id="todays_total_fat" class="target"></span><b></b></a> <br>
                <a>{{ user.profile.goal_fat }} g</a>
            </div>
    </div><div class="four">
    <div class="myProgress">
            <div class="myBar_protein"></div>
                <a>Tłuszcze</a>
                <a><span id="todays_total_protei" class="target"></span><b></b></a> <br>
                <a>{{ user.profile.goal_protein }} g</a>
            </div>
    </div><div class="four">
    <div class="myProgress">
            <div class="myBar_carbs"></div>
                <a>Węglow.</a>
                <a><span id="todays_total_carbs" class="target"></span><b></b></a> <br>
                <a>{{ user.profile.goal_carbs }} g</a>
            </div>
    </div>
</div>
<!---/PROGRESS BARY--->

<!-- Latest compiled and minified JavaScript -->

<script class="progress_bar">
function getInputValue(selector) {
	var str = $(selector).val();
  return parseInt(str, 10);
}

function updateProgress() {

  var total_kcal = getInputValue('#user_kcal');
  var total_fat = getInputValue('#user_fat');
  var total_protein = getInputValue('#user_protein');
  var total_carbs = getInputValue('#user_carbs');

  var current_kcal = document.getElementById("todays_total_kcal").innerText;
  var current_fat = document.getElementById("todays_total_fat").innerText;
  var current_protein = document.getElementById("todays_total_protei").innerText;
  var current_carbs = document.getElementById("todays_total_carbs").innerText;

  var progress_kcal  = (current_kcal / total_kcal) * 100;
  var progress_fat  = (current_fat / total_fat) * 100;
  var progress_protein  = (current_protein / total_protein) * 100;
  var progress_carbs  = (current_carbs / total_carbs) * 100;

  $(".myBar_carbs").css("width", progress_carbs + "%");
  $(".myBar_protein").css("width", progress_protein + "%");
  $(".myBar_kcal").css("width", progress_kcal  + "%");
  $(".myBar_fat").css("width", progress_fat  + "%");

  $("#label").text(progress_kcal  + "%");

}

$(function() {
	$(".postbtn").click(updateProgress);
  updateProgress();//if you want to render outside of click handler, for example after page load.
});
</script>

<script class="expand_data">
$(document).ready(function () {
    $('.expand').nextUntil('div.expand').hide();
    $('.expand').click(function () {
        $(this).nextUntil('div.expand').slideToggle(100, function () {});
    });
});
</script>

<script class="sum_data">
const targets = $('.target');
const sums = [...targets].map(_ => 0);
$('li li').each(function() {
  const i = $(this).index();
  sums[i] += Number(this.textContent.match(/\d+/)[0]);
});
sums.forEach((sum, i) => {
  targets[i].textContent = sum;
});
</script>

<script class="button_adding">
 var i = 0; function buttonClick() {
     document.getElementById('add').value = i++; }

</script>
</body>

{% endblock %}



