<style>
body {
     margin: 0;
     padding: 0;
     text-align: center;
}

.container {
padding:auto;
margin:auto;
text-align:centre;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "lewo main prawo"
    "lewo main prawo"
    "lewo main prawo";
}

.main { grid-area: main; }

.lewo { grid-area: lewo; }

.prawo { grid-area: prawo; }


</style>
<body>

<div class="container">
  <div class="main">test</div>
  <div class="lewo">test</div>
  <div class="prawo">test</div>
</div>

</body>